/* --------------------
   AUTH PAGE STYLING
-------------------- */
.auth-container {
  background-color: #090909;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}

.auth-subtitle {
  color: #b3b3b3;
  margin-bottom: 40px;
  font-size: 0.95rem;
}

.auth-box {
  background: #111;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(166, 75, 244, 0.2);
  width: 340px;
  text-align: left;
}

.toggle-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.toggle-button {
  background: none;
  border: none;
  color: #888;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: 2px solid transparent;
  padding-bottom: 4px;
}

.toggle-button.active {
  color: #a64bf4;
  border-color: #a64bf4;
}

.welcome {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group label {
  font-size: 0.85rem;
  color: #ccc;
  margin-bottom: 5px;
}

.input-group input {
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 8px;
  color: white;
  padding: 10px;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #a64bf4;
  box-shadow: 0 0 8px #a64bf4;
}

.forgot {
  font-size: 0.85rem;
  color: #888;
  text-align: right;
  cursor: pointer;
  margin-bottom: 20px;
}

.auth-btn {
  width: 100%;
  background: #a64bf4;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.auth-btn:hover {
  background: #b36df5;
  box-shadow: 0 0 15px #a64bf4;
}
