.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #222;
  background: #000;
  color: white;
  font-size: 0.95rem;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.auth-form input::placeholder {
  color: #777;
}

.auth-form input:focus {
  border-color: #a64bf4;
  box-shadow: 0 0 10px rgba(166, 75, 244, 0.4);
}
.signup-card,
.auth-card {
  background: #111;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 0 35px rgba(164, 75, 244, 0.3);
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
