.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0b0b0b;
  font-family: "Inter", sans-serif;
  color: white;
}

.auth-title {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  margin-bottom: 5px;
}

.auth-subtitle {
  font-size: 0.95rem;
  color: #aaa;
  margin-bottom: 25px;
}

.auth-box {
  background: #111;
  padding: 50px;
  border-radius: 16px;
  box-shadow: 0 0 35px rgba(164, 75, 244, 0.3);
  width: 400px;
  text-align: center;
}

.input-group {
  text-align: left;
  margin-bottom: 18px;
}

.input-group label {
  display: block;
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 6px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #222;
  background: #000;
  color: white;
  outline: none;
  font-size: 0.95rem;
}

.input-group input:focus {
  border-color: #a64bf4;
  box-shadow: 0 0 10px rgba(166, 75, 244, 0.4);
}

.auth-btn {
  width: 100%;
  padding: 14px;
  background: linear-gradient(90deg, #a64bf4, #7b2ff7);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.auth-btn:hover {
  background: linear-gradient(90deg, #7b2ff7, #a64bf4);
}

.auth-footer {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #aaa;
}

.auth-footer a {
  color: #a64bf4;
  text-decoration: none;
}

.auth-footer a:hover {
  text-decoration: underline;
}

.back-link {
  display: block;
  margin-top: 15px;
  color: #a64bf4;
  text-decoration: none;
  font-size: 0.9rem;
}

.back-link:hover {
  text-decoration: underline;
}
