/* --- GLOBAL THEME (Universal across site) --- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

a {
  color: #a64bf4;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  text-shadow: 0 0 8px #a64bf4;
}

html {
  scroll-behavior: smooth;
}
